@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Tipografía */
*{
    font-family: "Lato", sans-serif;
}

body {
    /* font-family: 'Arial', sans-serif; */
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    margin-left: 10px;
}

h1>span{
    color: cornflowerblue;
}

/* Navegación */
nav {
    background-color: #444;
}

.nav__ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav__ul li {
    margin: 0 15px;
}

.nav__ul a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 15px;
    display: block;
    transition: background 0.3s ease;
}

.nav__ul a:hover {
    background-color: #555;
}

/* Active link styling */
.nav__ul a.active {
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
}

/* Agrega estilos para el botón de hamburguesa */
.menu-btn {
    display: none; /* Oculta el botón en pantallas grandes */
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

/* Secciones principales */
main {
    padding: 20px;
    
}

.seccion1__img-container {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.seccion1__img-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.inicio__span-img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5em;
}

.seccion2__flex-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.seccion2__div-card,
.seccion2__div-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 300px;
}

.bebas-neue {
    /* font-family: 'Bebas Neue', cursive; */
    font-size: 2em;
}

.no_sombra-letra_blanca {
    color: #333;
    margin: 0;
    padding: 0;
    list-style: none;
}

.no_sombra-letra_blanca li {
    margin-bottom: 10px;
}

/* Formularios */
form p {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

form input[type="reset"],
form input[type="button"], form input[type="submit"] {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}


form input[type="reset"]:hover,
form input[type="button"]:hover {
    background-color: #555;
}

/* Mapa */
.seccion3__mapa {
    margin: 20px 0;
    text-align: center;
}

.seccion3__mapa-iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 8px;
    margin-bottom: 20px;
    pointer-events:none; /* esto en particular genera que no se pueda mover ni clickear el mapa*/
}

.btnmapa {
    display: inline-block;
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btnmapa:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__flex-card {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer__flex-card p {
    margin: 0;
    color: #fff;
}

footer a {
    color: #ff9800;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* Estilos pagina en construccion */
.main-title{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 8rem;
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}

.main-title h1{
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #555;
}

.main-title h2{
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
}

.svg-img{
   display: block;
   margin: auto;
}

svg{
    display: block;
   margin: auto;
}

#clock{
    animation: clockHand 5s infinite linear;
    
    
    transform-box: fill-box;
    transform-origin: bottom;
}

#leftTree, #righTree{
    animation: tree 2s ease-in-out infinite alternate;
    transform-box: fill-box;
    transform-origin: bottom;
}

#man{
    animation: manBody 1s ease-in-out infinite alternate;
    transform-box: fill-box;
    transform-origin: bottom;
}

#pc-circle{
    fill: #6ace66;
    stroke-width: 4;
    animation: change-light 4s linear infinite alternate;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    font-size: 1.3rem;
}

@keyframes clockHand{
    from{
        transform: rotateZ(0deg);
    }
    from{
        transform: rotateZ(-360deg);
    }
}

@keyframes manBody{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(10deg);
    }
}

@keyframes tree{
    from{
        transform: rotateZ(10deg);
    }
    to{
        transform: rotateZ(-20deg);
    }
}

@keyframes change-light {
    0% {
        stroke: #cd61f8;
      }
      25% {
        stroke: #6ace66;
      }
      75% {
        stroke: #2995c0;
      }
      100% {
        stroke: #e92949;
      }
  }

  /* Media Queries */

  @media (min-width: 640px){
    .main-title h1{
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #555;
    }
    
    .main-title h2{
        font-size: 3rem;
        font-weight: 300;
        text-transform: uppercase;
    }
    
     
    }
     
    @media (min-width: 768px){
        .main-title h1{
            font-size: 6rem;
            text-transform: uppercase;
            font-weight: 800;
            color: #555;
        }
        
        .main-title h2{
            font-size: 4rem;
            font-weight: 300;
            text-transform: uppercase;
        }
    
     
    }
     
    @media (min-width: 1024px){
     
        .main-title h1{
            font-size: 7rem;
            text-transform: uppercase;
            font-weight: 900;
            color: #555;
        }
        
        .main-title h2{
            font-size: 5rem;
            font-weight: 300;
            text-transform: uppercase;
        }
     
    }
     
    @media (min-width: 1200px){
     
        .main-title h1{
            font-size: 8rem;
            text-transform: uppercase;
            font-weight: 900;
            color: #555;
        }
        
        .main-title h2{
            font-size: 5rem;
            font-weight: 300;
            text-transform: uppercase;
        }

        .main-title{
            text-align: center;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        
     
    }


/* Responsividad */
@media (max-width: 768px) {

    .menu-btn {
        background-color: #333;
        display: block;
        color: wheat;
        text-align: center;
    }
    
    .nav__ul {
        display: none; /* Oculta la lista de navegación en pantallas pequeñas */
        flex-direction: column;
        /* position: absolute; */
        top: 0; /* Ajusta según sea necesario */
        left: 0;
        width: 100%;
        background-color: #444;
    }

    .nav__ul li {
        margin: 0;
        text-align: center;
    }

    .nav__ul a {
        padding: 10px 0;
        display: block;
        border-bottom: 1px solid #fff;
    }

    .nav__ul {
        flex-direction: column;
    }

    .seccion2__flex-cont,
    .footer__flex-container {
        flex-direction: column;
    }

    .inicio__span-img {
        font-size: 1.2em;
        padding: 5px 10px;
    }

    .seccion3__mapa-iframe {
        height: 300px;
    }

    /* Estilos adicionales para el menú hamburguesa */
    .nav__ul.active {
    display: flex; /* Muestra la lista de navegación al hacer clic en el botón de hamburguesa */
    }

}
