*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
} 

#mapa__main {
    position: relative;
    width: 100Vw;
    height: 100vh;
}

.mapa__container {
    position: relative;
    display: flex;
    min-width: 90vw;
    min-height: 90vh;
    border-radius: 15px;
}

.listaEstacionamientos__main {
    position: absolute;
    top: 10vh;
    left: 2vw;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 1em;
    width: fit-content;
    border: 1px solid #000;
    border-radius: 15px;
    z-index: 500;
    background: linear-gradient(to left, rgb(121, 121, 121), rgb(36, 36, 36));
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;

}

.mapa__lista-titulo {
    border-bottom: 2px double #fff;
    margin-bottom: 1em;
}

#estaNombres {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
    cursor: pointer;
}


@media only screen and (max-width: 640px) {
    .listaEstacionamientos__main {
        position: relative;
        width: 100vw;
        height: 20vh;
        top: 0;
        left: 0;
        overflow-y:auto;
        overflow-x:hidden;
        border-radius:0;
        border:2px solid #161616;
    }
    .mapa__container {
        position:relative;
        max-width:100vw;
        flex-flow:column nowrap;
        padding:0;
    }
    #mapa_main {
        position:relative;
        margin:0px;
        max-height:60vh;

    }
    main {
        padding:0;
    }
}